body {
  margin: 0;
  background-color: rgb(226, 224, 224);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Start Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 0 30px;
}

.nav-left ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-left ul li {
  margin-right: 30px;
  font-size: 15px;
}

.nav-left img {
  margin-right: 40px;
  height: 30px;
}

.nav-left a {
  text-decoration: none;
  color: black;
}
.nav-left a:hover {
  text-decoration: none;
  color: orangered;
}

.nav-right a {
  background-color: black;
  padding: 4px 15px;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  font-size: 15px;
}

#nav-active {
  font-weight: bold;
}

.burger-nav {
  display: none;
}

.burger-container {
  display: none;
}

.burger-container a {
  text-decoration: none;
  background-color: #3d3d3d;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.burger-container .burger-active {
  background-color: orangered;
}
/* End Navbar */

/* Start Contact Page */
.contact-form {
  width: 500px;
  margin: 50px auto;
}

.contact-form select,
.contact-form textarea,
.contact-form input {
  width: 100%;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #dbdbdb;
  margin-top: 10px;
  box-shadow: 0 2px 5px gray;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

form div {
  margin-top: 30px;
}

form label {
  font-weight: 700;
}

.submit {
  background-color: black;
  padding: 5px 25px;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-left: auto;
}

form div h1 {
  text-align: center;
  margin-bottom: 50px;
}
/* End Contact Page */

/* Start Index Page */
.Layout-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  margin: 2rem;
  padding: 2rem;
}

.upper {
  width: 85%;
  text-align: justify;
  margin-bottom: 50px;
}

.center ul {
  display: flex;
  justify-content: start;
  list-style-type: none;
  padding: 0;
}

.Contact-Button {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: black;
  border: none;
  border-radius: 15px;
  padding: auto;
  color: white;
  margin-right: 30px;
}

.download-CV img {
  width: 20px;
  margin-left: 5px;
}

.Social-Media ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.Social-Media ul li {
  padding: 0 10px;
}

.Social-Media img {
  width: 50px;
  margin: 0;
  padding: 0;
}

.Profile {
  text-align: center;
  margin: 0 auto;
  width: 340px;
  padding: 0 0 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
/* End Index Page */

/* Start My Project */

.project-form {
  width: 500px;
  margin: 50px auto;
}

.project-form input,
.project-form textarea {
  width: 100%;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #dbdbdb;
  margin-top: 10px;
  box-shadow: 0 2px 5px gray;
  box-sizing: border-box;
}

.project-form textarea {
  resize: none;
  height: 150px;
}

.date ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tech {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.tech ul {
  list-style-type: none;
  padding: 0;
  margin-right: 50px;
}

.project form .inputProject-group {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: white;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 5px gray;
  border-radius: 8px;
  cursor: pointer;
}

.project form .inputProject-group label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.project form .inputProject-group label {
  font-size: 15px;
  color: #777777;
}

.project form .inputProject-group p {
  background: #dbdbdb;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 10px;
  margin: 0;
}
/* End My Project */

/* Start Project List */

.title-project h1 {
  background-color: white;
  margin: 0;
  padding: 50px;
  text-align: center;
}
.project-list {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding-bottom: 100px;
}

.project-container {
  width: 400px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  box-shadow: 0 2px 5px gray;
  margin: 10px;
  padding: 20px;
}

.project-container a {
  text-decoration: none;
  color: black;
}

.project-image img {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}

.project-icon ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 30px 0;
  padding: 0;
}

.project-button {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.edit,
.delete {
  background-color: black;
  margin: 0;
  width: 150px;
  padding: 5px 25px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

/* End Project List */

/* Start Project Detail */

.main-container {
  margin: 50px;
  padding: 50px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
  box-shadow: 0 2px 5px gray;
}

.main-container h1 {
  text-align: center;
  padding-bottom: 20px;
}

.upper-main {
  display: flex;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
}

.upper-left-main img {
  width: 500px;
  margin-right: 50px;
  border-start-start-radius: 15px;
  border-end-start-radius: 15px;
}

.upper-right-main {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.duration p {
  font-weight: bold;
}

.duration ul {
  margin: 0;
  padding: 0;
}
.duration ul li {
  display: flex;
  font-weight: bold;
  list-style-type: none;
  margin-bottom: 15px;
  padding: 0;
}

.duration img {
  width: 50px;
  padding-right: 10px;
}

.project-icon p {
  font-weight: bold;
}

.project-icon ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-icon ul li {
  margin-right: 20px;
  padding: 0;
}
/* end project detail*/

/* start testimonial */
.testi-container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.testimonial {
  width: 25%;
  margin: 0px 15px 30px 15px;
  /* padding: 20px; */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-testimonial {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.rating-pt {
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: bold;
  margin-right: 8px;
}

.rating-pt img {
  margin-left: 5px;
}

.quote {
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.author {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.container-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  display: flex;
  justify-content: center;
}

.rating-btn {
  margin: 20px;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  cursor: pointer;
}

.rating-btn img {
  fill: #fff;
}

/* end testimonial */

/* lg */
@media only screen and (max-width: 1024px) {
  /* project detail */
  .main-container {
    width: 50%;
    margin: 50px auto;
  }
  .upper-main {
    flex-direction: column;
    align-items: start;
  }

  .upper-right-main {
    margin: 1.5rem;
  }

  .upper-left-main img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    margin: 0;
    width: 100%;
  }
}

/* md */
@media only screen and (max-width: 768px) {
  /* index */
  .Layout-Container {
    flex-direction: column;
    justify-items: center;
  }
  .Social-Media ul {
    justify-content: space-evenly;
  }
  .burger-nav {
    display: block;
  }
  .nav-right {
    display: none;
  }
  .item-collapse {
    display: none;
  }
  .burger-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000000;
  }
  .Left-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .upper,
  .center {
    text-align: center;
  }
  /* testimonial */
  .profile-testimonial {
    width: 200px;
  }
  .testimonial {
    width: 200px;
  }
}

/* Mobile M */
@media only screen and (max-width: 425px) {
  /* index */
  .Layout-Container {
    font-size: 0.8rem;
  }
  .Social-Media img {
    width: 80%;
  }
  .Profile {
    width: 80%;
  }

  /* My Project */
  .project-form {
    width: 80%;
  }

  .project-form,
  .project-list,
  .title-project {
    font-size: 0.8rem;
  }

  /* contact */
  .contact-form {
    font-size: 0.8rem;
    width: 80%;
  }

  /* project-detail */
  .main-container {
    font-size: 0.8rem;
    width: 80%;
    margin: 0px auto;
    padding: 0px 10px;
    margin-top: 50px;
  }

  /* testimonial */
  .rating {
    display: flex;
    flex-wrap: wrap;
  }
  .testi-container {
    font-size: 0.8rem;
  }
}
